<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" ><meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/Desktop06.css">
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@200&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="menu">
        <div class="icon02">
            <a href="#"><img src="images/icon02.png" alt="icon02" class="icon02"></a>
        </div>
        <ul>
            <li><a href="/Desktop02v2">หน้าแรก</a></li>
            <li><a href="/Desktop06">เช็คห้องว่าง</a></li>
            <li><a href="/Desktop05">จองห้องติว</a></li>
            <li><a href="/Desktop02">ออกจากระบบ</a></li>
        </ul>
    </div>
    <br><br><br>
    <center><B><div class = "title"><span>เช็คห้องว่าง</span></div></b></center>
    <br>
    <div class="container">
        <div class="Topic">
            <ul>
                <li id="b1">ชื่อผู้จอง</li>
                <li id="b2">หอพัก</li>
                <li id="b3">ห้อง</li>
                <li id="b4">วัน เดือน ปี</li>
                <li id="b5">เวลาเริ่มต้น</li>
                <li id="b6">เวลาสิ้นสุด</li>
                <li id="b7">จำนวนคน</li>
            </ul>
        </div>
        
        <% if(data.length == 0){ %>
            <center><h1>ไม่พบข้อมูล</h1>  </center>
        <% } %>
        <% for (var i = 0; i < data.length; i++) { %>
            <div class="DataofTopic">
                <ul>
                    <li class="c1" id="b1"><%= data[i].UName%></li>
                    <li class="c2" id="b2"><%= data[i].Dormitory %></li>
                    <li class="c1" id="b3"><%= data[i].Room %></li>
                    <li class="c2" id="b4"><%= data[i].Appointment_request %></li>
                    <li class="c1" id="b5"><%= data[i].TimeStart %></li>
                    <li class="c2" id="b6"><%= data[i].TimeStop %></li>
                    <li class="c1" id="b7"><%= data[i].Participant %></li>
                </ul>
            </div>
        <% } %>
    </div>
    

</body>
</html>